body {
  margin: 0;
  font-family: 'Anaheim';
}

#home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title-container {
  text-align: center;
  font-family: 'Italiana';
  color: #ffffff;
  mix-blend-mode: difference;
  margin-bottom: 8vh;
}

#title {
  font-size: 160px;
}

#subtitle {
  font-size: 40px;
}

#navbar {
  position: fixed;
  top: 0;
  width: 20%;
  padding: 20px;
  box-sizing: border-box;
  mix-blend-mode: difference;
}

#navbar-title {
  font-size: 30px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  text-decoration: none;
}

#section-menu {
  list-style-type: none;
  padding: 0;
}

#section-menu li {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

#section-menu a {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s;
}

#section-menu a:hover {
  padding-left: 10px;
  transition: 0.2s;
}

#project-dropdown {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  padding-left: 5px;
  padding-right: 5px;
}

.dropdown-arrow {
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: translateY(-2px) rotate(-45deg);
  -webkit-transform: translateY(-2px) rotate(-45deg);
  transition: 0.2s;
}

#project-dropdown:hover .dropdown-arrow {
  transform: translateY(-2px) scale(1.2) rotate(-45deg);
  -webkit-transform: translateY(-2px) scale(1.2) rotate(-45deg);
  transition: 0.2s;
}

.activated {
  transform: translateY(-3px) rotate(45deg);
  -webkit-transform: translateY(-3px) rotate(45deg);
}

#project-dropdown:hover .activated {
  transform: translateY(-3px) scale(1.2) rotate(45deg);
  -webkit-transform: translateY(-3px) scale(1.2) rotate(45deg);
}

#project-menu {
  padding-left: 20px;
}

.dropdown-menu {
  overflow: hidden;
  transition: 0.4s;
}

#main {
  background: #ffffff;
  color: #222222;
  margin-left: 20%;
  margin-right: 20%;
  box-sizing: border-box;
  padding-left: 80px;
  padding-right: 80px;
}

.section {
  border-bottom: 1px solid #888888;
  padding-top: 40px;
}

.header {
  font-size: 40px;
  text-align: center;
}

.date {
  font-size: 20px;
  color: #888888;
  text-align: center;
  padding-bottom: 40px;
}

.subsection {
  padding-bottom: 40px;
}

.subheader {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

.text {
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 20px;
}

.list {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  padding-bottom: 20px;
}

a {
  color: #0055ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.algo {
  font-size: 12px;
  line-height: 150%;
  white-space: pre-wrap;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 0px;
  margin-bottom: 20px;
}

#head-shot {
  float: right;
  padding: 20px;
}

#project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-container {
  position: relative;
  flex-basis: 33%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.project-container a {
  text-decoration: none;
  color: #222222;
  width: 160px;
}

.project-container a:not(.in-progress):hover .project-title {
  text-decoration: underline;
}

.project-title {
  font-size: 20px;
}

.project-date {
  font-size: 15px;
  color: #888888;
}

.project-thumbnail {
  width: 160px;
  border-radius: 10px;
  transition: 0.2s;
}

.in-progress .project-thumbnail{
  opacity: 50%;
}

.project-thumbnail-container {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-container a:not(.in-progress):hover .project-thumbnail {
  width: 168px;
  transition: 0.2s;
}

.in-progress-text {
  position: absolute;
  font-size: 16px;
  z-index: 1;
}

.project-description {
  font-size: 12px;
  text-align: left;
}

.pdf {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
  padding-bottom: 20px;
}

.image-title {
  font-size: 16px;
  text-align: center;
  padding-bottom: 5px;
}

.caption {
  font-size: 12px;
  text-align: center;
}

.youtube {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.youtube iframe {
  background-color: #000000;
}

#contact {
  text-align: center;
}

#contact ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  text-align: left;
}

#contact li {
  padding-bottom: 20px;
}

#contact a {
  color: #222222;
  font-size: 20px;
  text-decoration: none;
  padding-left: 10px;
}

#footer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.mandelbrot {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  z-index: -1;
}
