html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Anaheim';
}

#home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title-container {
  text-align: center;
  font-family: 'Italiana';
  color: white;
  mix-blend-mode: difference;
  margin-bottom: 8vh;
}

#title {
  font-size: 160px;
}

#subtitle {
  font-size: 40px;
}

#navbar {
  position: fixed;
  top: 0;
  width: 20%;
  padding: 20px;
  box-sizing: border-box;
  mix-blend-mode: difference;
}

#navbar-title {
  font-size: 30px;
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
}

#section-menu {
  list-style-type: none;
  padding: 0;
}

#section-menu li {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

#section-menu a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  transition-duration: 0.2s;
}

#section-menu a:hover {
  padding-left: 10px;
  transition-duration: 0.2s;
}

#project-dropdown {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  padding-left: 5px;
  padding-right: 5px;
}

#arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: translateY(-3px) rotate(45deg);
  -webkit-transform: translateY(-3px) rotate(45deg);
  transition-duration: 0.2s;
}

#project-dropdown:hover #arrow {
  transform: scale(1.2) translateY(-3px) rotate(45deg);
  -webkit-transform: scale(1.2) translateY(-3px) rotate(45deg);
  transition-duration: 0.2s;
}

#project-menu {
  display: none;
  padding-left: 20px;
}

#head-shot {
  float: right;
  width: 200px;
  padding: 20px;
}

#main {
  background: white;
  color: #222222;
  margin-left: 20%;
  margin-right: 20%;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px;
}

.section {
  font-size: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.text {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 20px;
}

#project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-container {
  position: relative;
  flex-basis: 33%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.project-container a {
  text-decoration: none;
  color: #222222;
  width: 160px;
}

.project-container a:not(.in-progress):hover .project-title {
  text-decoration: underline;
}

.project-title {
  font-size: 20px;
}

.project-thumbnail {
  width: 160px;
  border-radius: 10px;
  transition-duration: 0.2s;
}

.in-progress .project-thumbnail{
  opacity: 50%;
}

.project-thumbnail-container {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-container a:not(.in-progress):hover .project-thumbnail {
  width: 168px;
  transition-duration: 0.2s;
}

.in-progress-text {
  position: absolute;
  font-size: 16px;
  z-index: 1;
}

.project-description {
  font-size: 12px;
  text-align: left;
}

.pdf {
  width: 100%;
  display: flex;
  justify-content: center;
}

.youtube {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#contact {
  text-align: center;
}

#contact ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  text-align: left;
}

#contact li {
  margin: 20px;
}

#contact a {
  color: #222222;
  font-size: 20px;
  text-decoration: none;
  padding-left: 10px;
}

#footer {
  text-align: center;
  margin-top: 100px;
}

.image {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  z-index: -1;
}
